<a href="https://colab.research.google.com/github/wgrh12/FluPredict/blob/master/uthAD_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## UTH Alzheimer's disease modeling of AD severity and separation from non-AD dementia using MethylSeq datasets in001, in027, in248

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style='ticks')
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

In [2]:
# Mount my Google Drive to allow access of files in it from colab
from google.colab import drive
drive.mount("/content/gdrive/",force_remount = True)

Mounted at /content/gdrive/

In [4]:
! mkdir "/content/gdrive/My Drive/Colab Notebooks/data/UTH_AD"
! mkdir "/content/gdrive/My Drive/Colab Notebooks/output/UTH_AD"

In [7]:
df_hyper = pd.read_excel("/content/gdrive/My Drive/Colab Notebooks/data/UTH_AD/2955_CpG_result_table_forADseverity.xls", sheet_name=0, convert_float=False)
df_hyper.shape

(2000, 137)

In [11]:
df_hyper_short = df_hyper.iloc[:,range(8,134,2)]
df_hyper_short.shape

(2000, 63)

In [13]:
df_hyper_short.head()

   70077027 meth_ratio  ...  EPI-077 meth_ratio
0                 1.00  ...                0.11
1                 0.93  ...                0.00
2                 0.88  ...                0.00
3                 0.74  ...                0.55
4                 0.76  ...                0.00

[5 rows x 63 columns]

In [20]:
# Add row names
df_hyper_short['site'] = range(1,2001)
df_hyper_short.head()

   70077027 meth_ratio  70077028 meth_ratio  ...  EPI-077 meth_ratio  site
0                 1.00                 0.94  ...                0.11     1
1                 0.93                 0.93  ...                0.00     2
2                 0.88                 1.00  ...                0.00     3
3                 0.74                 0.95  ...                0.55     4
4                 0.76                 0.63  ...                0.00     5

[5 rows x 64 columns]

In [22]:
# get df_hypo_short, and combine with df_hyper_short
df_hypo = pd.read_excel("/content/gdrive/My Drive/Colab Notebooks/data/UTH_AD/2955_CpG_result_table_forADseverity.xls", sheet_name=1, convert_float=False)
df_hypo_short = df_hypo.iloc[:,range(8,134,2)]
df_hypo_short['site'] = range(2001,4001)
df_2955 = df_hyper_short.append(df_hypo_short)
df_2955

      70077027 meth_ratio  70077028 meth_ratio  ...  EPI-077 meth_ratio  site
0                    1.00                 0.94  ...                0.11     1
1                    0.93                 0.93  ...                0.00     2
2                    0.88                 1.00  ...                0.00     3
3                    0.74                 0.95  ...                0.55     4
4                    0.76                 0.63  ...                0.00     5
...                   ...                  ...  ...                 ...   ...
1995                 0.12                 0.12  ...                0.45  3996
1996                 0.75                  NaN  ...                0.75  3997
1997                 0.33                 0.50  ...                0.61  3998
1998                 0.50                 0.30  ...                0.50  3999
1999                 1.00                 0.84  ...                1.00  4000

[4000 rows x 64 columns]

In [23]:
df_2955.to_csv("/content/gdrive/My Drive/Colab Notebooks/output/UTH_AD/AD_2955_ADvsNADD_top4000_sites.csv", index=False)

In [68]:
# Preprocessing data for modeling AD vs NADD, that is, non-AD dementia
X_nadd_raw = pd.read_csv("/content/gdrive/My Drive/Colab Notebooks/data/UTH_AD/AD_2955_ADvsNADD_top4000_sites_renamed_4ADseparation.csv", index_col=0)
y_nadd = pd.read_excel("/content/gdrive/My Drive/Colab Notebooks/data/UTH_AD/y_2955_AD_NADD_63samples.xlsx")
print(X_nadd_raw.shape)
y_nadd.shape

(4000, 63)

(63, 1)

In [108]:
# Custom fill NAs with the mean of a particular group 
def fillNAs (datf):
  dfnew = datf
  splitnum = 50   # the sample split point of two groups
  # row by row
  for i in range(datf.shape[0]):
    mean_ad = datf.iloc[i,:splitnum].mean()
    #print(mean_ad)
    mean_nadd = datf.iloc[i,splitnum:].mean()
    # col by col
    for j in range(datf.shape[1]):
      check_NA = datf.iloc[i,:].isnull()
      if (check_NA[j]):
        if (j < splitnum):
          dfnew.iloc[i,j] = mean_ad
        else:
          dfnew.iloc[i,j] = mean_nadd 
  return dfnew

In [111]:
X_nadd = X_nadd_raw.dropna(thresh=60, inplace=False)
# Replace NAs with the mean of the row.
# X_nadd = X_nadd.T.fillna(X_nadd.mean(axis=1)).T , need understand it.
X_nadd_imputed = fillNAs( X_nadd )
X_nadd_imputed.to_csv("AD_2955_ADvsNADD_select708_sites_imputed.csv")
X_nadd = X_nadd_imputed.T
X_nadd.shape

(63, 708)

In [34]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import Lasso

In [113]:
X_nadd_train,X_nadd_test,y_nadd_train,y_nadd_test = train_test_split(X_nadd,y_nadd,stratify=y_nadd,random_state=42)
print(X_nadd_train.shape)
print(y_nadd_train.shape)
X_nadd_train.head()

(47, 708)
(47, 1)

site      6     44    46    57    59    ...  3978  3984  3990  3993  3998
in248_14  0.22  0.27  0.17  0.55  0.00  ...  0.14  0.98  0.89  0.50  0.35
in001_19  0.98  0.94  0.92  0.97  0.94  ...  0.29  0.71  0.92  0.25  0.41
in248_2   0.31  0.21  0.21  0.45  0.00  ...  0.55  1.00  0.67  0.40  0.52
in248_35  0.13  0.15  0.15  0.00  0.00  ...  0.40  1.00  0.75  0.43  0.69
in001_14  0.90  0.96  0.87  0.97  0.92  ...  0.00  0.56  0.67  0.24  0.53

[5 rows x 708 columns]

In [114]:
# Train logistic regression model.  Overfitted, want to select sites using LASSO   
params_grid = [{'C':[0.001,0.01,0.1,1,10,100]}]
grid_search = GridSearchCV(LogisticRegression(), params_grid, cv=5)
grid_search.fit(X_nadd_train,y_nadd_train)
print("Training R^2: {:.3f}".format(grid_search.score(X_nadd_train,y_nadd_train)))
print("Test R^2: {:.3f}".format(grid_search.score(X_nadd_test,y_nadd_test)))
print(grid_search.best_params_)
print(grid_search.best_score_)

Training R^2: 1.000
Test R^2: 1.000
{'C': 100}
1.0

In [131]:
# Feature selection using LASSO. Next, try to add age and gender as new features

y_nadd_train.loc[y_nadd_train['Status'] == "NADD", 'Status'] = 0
y_nadd_train.loc[y_nadd_train['Status'] == "AD", 'Status'] = 1
y_nadd_test.loc[y_nadd_test['Status'] == "NADD", 'Status'] = 0
y_nadd_test.loc[y_nadd_test['Status'] == "AD", 'Status'] = 1

params_grid = [{'alpha':[0.003,0.005,0.01,0.05,0.1,0.2]}]
grid_search = GridSearchCV(Lasso(), params_grid, cv=5)
grid_search.fit(X_nadd_train, y_nadd_train)
print("Training R^2: {:.3f}".format(grid_search.score(X_nadd_train,y_nadd_train)))
print("Test R^2: {:.3f}".format(grid_search.score(X_nadd_test,y_nadd_test)))
print(grid_search.best_params_)
print(grid_search.best_score_)

Training R^2: 0.987
Test R^2: 0.549
{'alpha': 0.003}
0.3599930383667228

In [132]:
! ls

AD_2955_ADvsNADD_select708_sites.csv	      gdrive
AD_2955_ADvsNADD_select708_sites_imputed.csv  sample_data

In [133]:
! cp AD* "/content/gdrive/My Drive/Colab Notebooks/output/UTH_AD/"

In [135]:
# Build a lasso model using GridSearch results
lasso0003 = Lasso(alpha=0.003, random_state=42).fit(X_nadd_train, y_nadd_train)
print(lasso0003.score(X_nadd_train, y_nadd_train))
print(lasso0003.score(X_nadd_test, y_nadd_test))
print(np.sum(lasso0003.coef_ != 0))

0.9874265750059473
0.549108912263089
43

In [136]:
output = open("/content/gdrive/My Drive/Colab Notebooks/output/UTH_AD/lasso0003_sites_.csv", "w")
for i in range(X_nadd_train.shape[1]):
  if lasso0003.coef_[i] != 0:
    print ("%s, %.5f" % (i, lasso0003.coef_[i]), file=output)
output.close()

In [139]:
output = open("/content/gdrive/My Drive/Colab Notebooks/output/UTH_AD/lasso0003_sites_CpGs.csv", "w")
sites = pd.read_csv("/content/gdrive/My Drive/Colab Notebooks/output/UTH_AD/lasso0003_sites_.csv", header=None)
for i in range(sites.shape[0]):
  cpg = list(X_nadd_train.columns)[sites.iloc[i,0]]
  print ("%s" % cpg, file=output)
output.close()